<mat-card class="customCard" id="{{ partida.id }}">
    <mat-card-content [ngClass]="partida.status == 'completed' ? 'finished' : ''" class="card-content">
        <div class="home-team">
            <img src="{{ partida.home_team_country | flagUrl }}">
            <span [ngClass]="partida.winner_code === partida.home_team_country ? 'winner' : ''" class="team_name">{{ partida.home_team.name }}</span>
        </div>
        <div class="match-info">
            <div class="match-date mat-small">
                {{ partida.datetime | date : 'dd/MM/yyyy HH:mm' }}
            </div>
            <div class="score">
                {{ partida.home_team.goals }} - {{ partida.away_team.goals }}
            </div>
            <ng-container *ngIf="partida.home_team.penalties > 0">
                <div class="match-penalties mat-small">
                    {{ partida.home_team.penalties }} - {{ partida.away_team.penalties }}
                </div>
            </ng-container>
        </div>
        <div class="away-team">
            <img src="{{ partida.away_team_country | flagUrl }}">
            <span [ngClass]="partida.winner_code === partida.away_team_country ? 'winner' : ''" class="team_name">{{ partida.away_team.name }}</span>
        </div>
    </mat-card-content>
</mat-card>
