<div class="match" id="{{ partidas.id }}">
    <div [ngClass]="partidas.finished == 'TRUE' ? 'finished' : ''" class="card-content mat-elevation-z3">
        <div class="home-team">
            <img src="{{ partidas.home_flag }}" alt="{{ partidas.home_team_en }} Flag" class="team_flag">
            <span class="team_name">{{ partidas.home_team_en }}</span>
        </div>
        <div class="match-info">
            <div class="game-status mat-small">
                {{ partidas.time_elapsed }}
            </div>
            <div class="score">
                {{ partidas.home_score }} - {{ partidas.away_score }}
            </div>
            <div class="match-date mat-small">
                {{ partidas.local_date }}
            </div>
        </div>
        <div class="away-team">
            <img src="{{ partidas.away_flag }}" alt="{{ partidas.away_team_en }} Flag" class="team_flag">
            <span class="team_name">{{ partidas.away_team_en }}</span>
        </div>
    </div>
</div>